* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
    box-sizing: border-box;
}

/* Accent color */
h2, .transaction-total {
    color: rgb(21, 133, 99);
}


h2 {
    font-size: 20pt;
    font-weight: bold;
}

a {
    text-decoration: none;
}

a, a:visited {
    color: rgb(97, 97, 203);
}

html, body, #root {
    height: 100%;
    box-sizing: content-box;
}

#root {
    background-color: rgb(173, 212, 179);
    overflow: hidden;
}

input {
    font-size: 14pt;
    border-radius: 4px;
    border: 1px solid grey;
    padding: 5px;
}

.form-auth input {
    margin: 10px auto 10px auto;
    
}

.align-right {
    float: right;
}
/* Login & Signup Pages */
.container-login, .container-signup {
    position: relative;
    display: block;
    width: 50%;
    top: 20%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    box-sizing: content-box;
}

.form-auth input {
    display: block;
    width: 75%;
}

.error {
    display: block;
    width: 50%;
    margin: 10px auto 10px auto;
    padding: 10px;
    border-radius: 5px;;
    background-color: rgb(242, 181, 180);
}

.main-wrapper {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.sidebar {
    border-right: 1px solid black;
    height: 100%;
    width: 15%;
}

.container-transactions {
    padding: 10px 10px 0 10px;
    width: 85%;
    background-color: white;
}

.container-transactions ul {
    overflow-y: auto;
    height: calc(100vh - 100px); 
}

.container-transactions li {
    height: 7%;
    box-sizing: border-box;
}

.container-transactions li div {
    height: 100%;
    padding: 5px;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
}

.container-transactions li div:hover {
    background-color: lightgrey;
}

.transaction-amount, .transaction-title, .transaction-date {
    display: inline-block;
}

.transaction-amount {
    font-size: 1.1em;
    font-weight: bold;
    margin-right: 5px;
    width: 10%;
}

.transaction-title {
    width: 60%;
}

.transaction-date {
    width: 10%;
}

.transaction-total {
    font-size: 100pt;
    font-weight: bold;
}

.form-new-transaction {
    display: inline-block;
    margin-right: 3%;
}
